$big-padding: 100px;
$semibig-padding: 58px;
$medium-padding: 48px;
$small-padding: 24px;
$extrasmall-padding: 12px;
$cards-gap: 79px;

$mobile-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
