$bg-color: #FAFAFA;
$secondary-bg-color: #FFFFFF;

$brand: #518581;
$brand-hover: #86AAA7;
$brand-active: #487773;

$text-color: #000000;
$accent-text-color: $brand;
$secondary-text-color: #AFADB5;
$button-text-color: #FFFFFF;

$button: $brand;
$button-hover: $brand-hover;
$button-active: $brand-active;
$button-disabled: #D9D9D9;
$secondary-button-active: #dddddd;
$secondary-button-hover: #e5e5e5;

$icon-color: #151411;
$border-color: #AFADB5;

$slider-button-color: #000000;
$loader-bg: rga(0, 0, 0, .1);